/* 
橙色 #f67e09
青绿 #2d8f94
蓝色 #1886e3 
*/


.t1{
	background-color: #efefef;
	height: 40px;
	line-height: 40px;
}

.welcome{
	margin-left: 50px;
}

.tel{
	color: #f67e09;
	font-weight: bold;
}
.mr20{
	margin-right: 20px;
}
.t2{
	margin-top: 10px;
}
.search{
	width: 40%;
}
.se1{
	border: 2px solid #ff8f33;
	border-radius: 0;
}
.se2{
	border: 2px solid #ff8f33;
	background-color: #ff8f33;
	padding: 5px 12px;
	border-radius: 0;
}
.se3{
	font-weight: bold;
}
.menu{
	background-color: #2d8f94 !important;
	color:#fff;
	padding:15px 30px !important;
	font-weight: bold;
	width:280px;
	text-align: center;
}
.menu:visited{
	color:#fff;
}
.menu2{
	width:280px;
	height:360px;
	text-align: center;
}
.menu2 li a{
	display: inline-block;
}
@media (max-width: 1390px) {
	.menu{
	width:210px;
	}
	.menu2{
	width:210px;
	}
}
.org{
	color:#f67e09;
}
.ql{
	color:#2d8f94;
}
.blue{
	color:#1886e3;
}

.f1{
	position: absolute;
	right:20px;
	top:50px;
	width:350px;
	background-color: #FFF;
	padding:0 15px 10px 15px;
}

.f1h{
	text-align: center;
	color:#2d8f94;
	font-weight: bold;
}
.navbar{
	margin-bottom: 0;
}
.fsele{
	width:80%;
	display:inline-block;
}
.tcen{
	text-align: center;
}
.tip{
	margin-top: 10px;
	font-size: 12px;
	border: 2px solid #2d8f94;
	padding: 10px 12px;
	color:#2d8f94;
}
.fbtn{
	background-color: #2d8f94;
	color:#FFF;
	border-radius: 0;
}

.foot{
	background-color: #42453f;
	
}
.footm ul{
	display: inline-block;
	padding-right: 30px;
	border-right: 2px solid #fff;
}
.footm ul:last-of-type{
	border-right:none;
	padding-right: 0px;
}
.footm ul li{
	list-style-type: none;
	height:32px;
}
.footm ul li a{
	color:#FFF;
}

/* head foot style end */

.cover{
	position:absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color:#fff;
	padding:15px 15px;
	top: 22%;
	margin: auto 15px auto 0;
}

.ke_b{
	border:2px solid #54CBED;
	color:#54CBED;
	padding:20px 30px;
	font-size: 20px;
	display:inline-block;
	font-weight: bold;
	text-align: center;
}

.ke_b2{
	height:100px;
	text-align: center;
}
.ke_b2 img{
	margin:25px 0;
}

.ke_tp{
	border:none;
}



/* cx横向滚动基本样式 */
.cxscroll{}
.cxscroll .box{overflow:hidden;width:1230px;}
.cxscroll .list{overflow:hidden;width:99999px;padding:0}
.cxscroll .list li{float:left;width:310px;list-style-type: none;}
.cxscroll .list li img{ width:300px }
.cxscroll .prev{}
.cxscroll .next{}

.ke_yh{
	border:2px solid #e1e1e1;
}
.ke_yhh{
	color:#1886e3;
	font-size: 45px;
}
.ke_yhh2{
	color:#898989;
	font-size: 18px;
	font-weight: bold;
}

.ke_yhpl{
	background-color: #D9DDDE;
	color:#000;
	font-size: 20px;
	line-height: 40px;
	height:40px;
	padding:0 15px;
}
.ke_yhpl span{
	color:#000;
	font-weight: bold;
}

.ke_gl{
	background-color: #1886e3;
	color:#fff
}
.ke_gl .caption{
	color:#fff
}
.ke_gl .caption p a{
	color:#fff
}

.ke_jb{
	position: absolute;
	top: 0;
	right: 15px;
}
.ke_jb img{
	width:60px;
}
.ke_info{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 0 5px 5px 0; 
	position: absolute;
	bottom:0;
	width: 100%;
    line-height: 32px;
    padding: 0 15px;
    font-weight: 100;
}
.ke_info span{
	margin-right: 30px;
}
.ke_little{
	vertical-align:super; font-size:10px
}
.ke_listc>div{
	margin-bottom: 30px;
}
.ke_active{
	background-color: #f67e09;
	color:#FFF;
	display:inline-block;
}

.ke_node{
	box-shadow: 0 0 10px #CCC;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	width:150px;
	height:150px;
	border-radius: 10px;
	margin:10px;
}
.ke_nodeBody{
	margin:10px;
	background-color: #EEEEEE;
	padding:60px;
	border-radius: 10px;
}
.ke_nodeBody img{
	width:290px;
	height:200px;
	border-radius: 10px;
	margin: 0 10px 10px 0;
}
.ke_nodeSay{
	padding:15px 30px;
	box-shadow: 0 0 20px #CCC;
}
.ke_tab{

}
.ke_tab li{
	width:24%;
	height:40px;
	margin-bottom: 2px;
}
.ke_tab li.active{
	border-top: 2px solid #f67e09;
	height:40px;
}
.ke_tab li a{
	padding:0;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}
.ke_tab li.active a{
	border-radius: 0;
	margin-right: 0;
}
.ke_mimg{
	width:25%;
}
.ke_tabList{
	padding:45px;
	background-color: #1886e3;
	color:#efefef;
	margin-bottom: 15px;
}
.ke_tabList h3{
	text-align: center
}
.ke_tabList h3 small{
	color:#efefef;
}
.ke_tabList hr{
	margin-top: 0;
	border-top: 1px solid #efefef;
}
.ke_tabList2{
	padding:45px;
	margin-bottom: 15px;
	border:2px solid #ccc;
}
.ke_tabList2 h3{
	text-align: center
}
.ke_tabList2 hr{
	margin-top: 0;
	border-top: 1px solid #d7d7d7;
}

small.pull-right{
	margin-top: 9px;
}

.ke_p{
	line-height: 26px;
}

.ke_page{
	/* background: linear-gradient(180deg, #FFF 0%,#e9f6ff 100%); */
	border:2px solid #CCC;
}
.ke_tj{
	padding-left: 0;
}
.ke_tj li{
	list-style-type: none;
}
.ke_tj li a{
	color:#000;
	font-size: 16px;
	line-height: 26px;
}
.ke_yuan{
	width:200px;
	height:200px;
	background-color: #1886e3 ;
	border-radius: 100px;
	margin: 0 auto;
}
.ke_yuan a{
	color:#fff;
}
.ke_yuan i{
	font-size: 40px;
	font-weight: bold;
	line-height: 60px;
	
}
.ke_scrollContent{
	height:300px;
	overflow-y: scroll;
	border: 2px solid #ccc;
	padding:10px;
	position: relative;
}
.ke_scrollNav{
	background-color: #5d819c;
}
.ke_scrollNav a{
	color:#FFF;
	font-weight: bold;
}
.ke_scrollNav li.active a{
	background-color: #22415f;
}
.ke_scrollNav li a:hover{
	background-color: #22415f;
}
.ke_scrollNav li.active a:hover{
	background-color: #22415f;
}






